<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Neighbourhood Pantry</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap" rel="stylesheet">
</head>
<body>

  <header class="header-wrapper"> 
    
    <div class="pantry-background">

    </div>
    <div class="header-shelf1">
      
    </div>
    <div class="login-btn-wrapper">
      <% if logged_in? %>
        <div class="welcome-back"><p class="user_email">Welcome back, <%= current_user()['username'] %></p></div>
        <h1 class="main-heading1">The Neighbourhood Pantry </h1>
        <form action="/session" method="post" class="sign-in-out-btn">
          <input type="hidden" name="_method" value="delete">
          <button class="logout-button">Sign Out</button><br>
        </form>
      <% else %>
        <div class="welcome-back"><p class="user_email">Welcome!</p></div>
        <h1 class="main-heading1">The Neighbourhood Pantry </h1>
        <form action="/session">
          <button class="login-button">Sign In</button>
        </form>
      <% end %>
    </div>
    <div class="header-shelf2">
      
    </div>
  </header>
  <div class="main-wrapper">

    <aside>
      <div class="side-shelf" id="shelf-1"></div>
      <div class="side-shelf"></div>
      <div class="side-shelf" id='shelf-3'></div>
    </aside>
    <main>

      <%= yield %>

    </main>
    <aside>
      <div class="side-shelf"></div>
      <div class="side-shelf" id="shelf-5"></div>
      <div class="side-shelf"></div>
    </aside>

  </div>

  <footer>
    
  </footer>

</body>
</html>
