<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Neighbourhood Pantry</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap" rel="stylesheet">
</head>
<body>

  <header class="header-wrapper"> 
    
    <div class="login-btn-wrapper">

      <% if logged_in? %>
        <p class="user_email">Welcome back, <%= current_user()['username'] %></p>
        <form action="/session" method="post">
          <input type="hidden" name="_method" value="delete">
          <button class="logout-button">Log out</button><br>
        </form>
      <% else %>
        <a href="/session" class="login-button">Log In</a>
      <% end %>

    </div>

    
    <div class="header-shelf">
      
    </div>

  </header>
  <div class="main-wrapper">

    <aside>
      left
    </aside>
    <main>

      <%= yield %>

    </main>
    <aside>
      right
    </aside>

  </div>

  <footer>
    footer
  </footer>

</body>
</html>
