
<div class="signin-page-wrapper">
    <h2>Sign in page</h2>

        <form action="/session" method="post" class="">

            <label for="">Email: </label>
            <input type="text" name="email"><br>

            <label for="">Password: </label>
            <input type="password" name="password">

            <button>login</button>

        </form>

    <p>Don't have an account?</p><span><a href="/session/signup">Sign Up</a></span>
</div>