
<h2>LOG IN PAGE</h2>

    <form action="/session" method="post">

        <label for="">Email: </label>
        <input type="text" name="email">

        <label for="">Password: </label>
        <input type="password" name="password">

        <button>login</button>

    </form>

<p>Don't have an account?</p><span><a href="/session/signup">Sign Up</a></span>