

<h2>Create your My Pantry account</h2>

<form action="/session/new-user" method="post">
    
    <label for="name">New email: </label>
    <input type="text" name="email" class="">

    <label for="password">New password: </label>
    <input type="password" name="password" class="">

    <button> Create Account </button>


</form>