

<h2>Create your My Pantry account</h2>

<div>

    <form action="/session/new-user" method="post">
        
        <label for="name">New email: </label>
        <input type="text" name="email" class=""><br><br>

        <label for="">Username: </label>
        <input type="text" name="username"><br><br>

        <label for="password">New password: </label>
        <input type="password" name="password" class=""><br><br>

        <button> Create Account </button>


    </form>

</div>