

body, .header-wrapper, main, aside, footer {
    /* border: 1px solid black; */
}

body {
    height: 900px;
    font-family: 'Comfortaa', cursive;
}

a {
    color: rgb(24, 126, 60)
}

main {
    /* background-image: url(https://t3.ftcdn.net/jpg/02/70/26/70/360_F_270267008_6PAgjlfoT43nTJT8chbSUzcSI2JW8il4.jpg); */
    /* background: cover; */
    display: grid
}

.header-wrapper {
   display: grid;
   grid-template-rows: 2fr 1fr 2fr;
   height: 180px
}

.pantry-background {
    background-image: url(/stylesheets/pantry.png);
    background-size: 460px;
    height: 60px;
    opacity: 80%;
}

.sign-in-out-btn, .welcome-back {
    display: inline-block;
}

.login-btn-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90px;
    margin: 0px;
    color: rgb(24, 126, 60)
}

.user_email {
    background: white;
    width: 200px;
    padding: 5px;
    margin-top: 5px;
    margin-left: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: rgb(24, 126, 60)
}

.login-button, .logout-button {
    background-color: white;
    border: 1px solid rgb(24, 126, 60);
    border-radius: 5px;
    color: rgb(24, 126, 60);
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    float: right;
    justify-content: center;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 120px;
    cursor: pointer;
}

.throw-out-btn {
    background-color: white;
    border: 1px solid rgb(24, 126, 60);
    border-radius: 5px;
    color: rgb(24, 126, 60);
    padding: 4px 10px;  
    text-decoration: none;  
}

.signin-page-wrapper {
    border: 5px solid rgba(24, 126, 59, 0.738);
    border-radius: 5px;
    width: 50%; 
    height: 50%;
    margin: 0 auto;
    margin-top: 100px;
    display: grid;
    place-items: center;
    grid-template-rows: 1fr 1fr 1fr;
}

.main-wrapper {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    height: 80%;
}

.main-heading {
    text-align: center;
    font-family: 'Comfortaa';
    margin-top: 40px;
}

.main-heading1 {
    text-align: center;
    font-family: 'Comfortaa';
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: relative;
    color: white;
    padding: 8px;
    border-radius: 10px;
    background-color: rgb(24, 126, 60);
}


.view-pantry {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

#open-your-pantry {
    width: 25%;
    color: rgb(24, 126, 60);
    padding: 8px;
    border-radius: 10px;
    border: 2px solid rgb(24, 126, 60);
    text-decoration: none;
}

.featured-pantry-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
    width: 95%;
    margin: 0 auto;
    margin-top: 50px;
    /* height: ; */

}

.pantry1-wrapper, .pantry2-wrapper, .pantry3-wrapper, .pantry4-wrapper  {
    border-style: solid;
    border-width: 7px 7px 7px 7px;
    border-image: url(https://t3.ftcdn.net/jpg/02/70/26/70/360_F_270267008_6PAgjlfoT43nTJT8chbSUzcSI2JW8il4.jpg) 10 repeat repeat;
    background-color: white;
    /* border-image: url(https://t3.ftcdn.net/jpg/02/70/26/70/360_F_270267008_6PAgjlfoT43nTJT8chbSUzcSI2JW8il4.jpg) 10 10 10 10 repeat repeat; */
    width: 90%;
    height: 100%;
    font-size: 12px;
    display: grid;
    place-items: center;
    text-align: center;
}

.pantry-names {
    margin-top: 10px;
}

.header-shelf1{
    height: 15px;
    background-image: url(https://t3.ftcdn.net/jpg/02/70/26/70/360_F_270267008_6PAgjlfoT43nTJT8chbSUzcSI2JW8il4.jpg);
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.30);
}

.header-shelf2{
    height: 15px;
    background-image: url(https://t3.ftcdn.net/jpg/02/70/26/70/360_F_270267008_6PAgjlfoT43nTJT8chbSUzcSI2JW8il4.jpg);
}

aside {
    border-style: solid;
    border-width: 7px 7px 7px 7px;
    border-image: url(https://t3.ftcdn.net/jpg/02/70/26/70/360_F_270267008_6PAgjlfoT43nTJT8chbSUzcSI2JW8il4.jpg) 10 repeat repeat;
    background-image: url(https://t3.ftcdn.net/jpg/02/70/26/70/360_F_270267008_6PAgjlfoT43nTJT8chbSUzcSI2JW8il4.jpg);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;

}

.side-shelf {
    background-color: white;
    height: 210px;
}

/* #shelf-1 {
    background-image: url(/stylesheets/jars.png);
    background-size: contain;
}

#shelf-3 {
    background-image: url(/stylesheets/sixjars.png);
    background-size: contain;
}

#shelf-5 {
    background-image: url(/stylesheets/nuts.png);
    background-size: contain;
} */

img {
    width: 60px;
}

/* show my items */

.show-my-items-wrapper {
    border: 5px solid rgba(24, 126, 59, 0.738);
    border-radius: 5px;
    width: 70%; 
    height: 70%;
    margin: 0 auto;
    margin-top: 100px;
    display: grid;
    grid-template-rows: 5fr 1fr;
}

.my-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}

.my-item {
    display: inline-block;
}

.update-item {
    font-size: 10px;
}

/* Open pantry */

.show-pantry-wrapper {
    border: 2px solid rgb(21, 112, 53);
    border-radius: 5px;
    width: 70%; 
    height: 70%;
    display: grid;
    /* grid-template-rows: 1fr 5fr; */
}

.open-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.pantry-item {
    display: inline-block;
}

/* Open pantry */



footer {
    height: 50px;
    background-image: url(https://t3.ftcdn.net/jpg/02/70/26/70/360_F_270267008_6PAgjlfoT43nTJT8chbSUzcSI2JW8il4.jpg);
}