

body, .header-wrapper, main, aside, footer {
    border: 1px solid black;
}

body {
    height: 900px;
    font-family: 'Comfortaa', cursive;
}

.header-wrapper {
   height: 12%;
}

.main-wrapper {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    height: 75%;
}

.main-heading {
    text-align: center;
    font-family: 'Comfortaa';
}

.view-pantry {
    margin-bottom: 15px;
    text-align: center;
}

.featured-pantry-container {
    border: 1px solid red;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    place-items: center;
    
}

.pantry1-wrapper, .pantry2-wrapper, .pantry3-wrapper, .pantry4-wrapper  {
    border: 1px solid red;
    width: 100%;
    height: 100%;
    font-size: 12px;
}

.header-shelf{
    height: 25px;
    background-image: url(https://t3.ftcdn.net/jpg/02/70/26/70/360_F_270267008_6PAgjlfoT43nTJT8chbSUzcSI2JW8il4.jpg);
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.30);
}


img {
    width: 60px;
}

footer {
    height: 10%;
}